hr{
    border: none;
    border-top: 1px solid black;
    margin: 0 auto;
}

.itd-btn {
    border: 3px solid gold;
}

.itd-btn:hover{
    background-color:gold;
}

ol{
    list-style-type: none;
}

#item-name, 
#item-stats{
    font-size: 18px;
    font-weight: 400;
}

.item-text p{
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}